<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <style>
        .wf-nicomoji {
            font-family: "Nico Moji";
        }
    </style>
    <title>Saifu</title>
</head>
<body onload="preset();">
<!-- nav -->
<nav class="container-fluid navbar navbar-dark bg-dark py-0">
    <div class="container px-lg-5">
        <a href="/" class="navbar-brand mb-0 h1 wf-nicomoji">Saifu</a>
        <div class="d-flex align-items-center">
            <img th:src="${user.profileImageUrl}" class="rounded-circle mx-2" style="width: 26px; height: 26px;">
            <span class="navbar-text align-middle text-light" th:text="${user.name}"></span>
        </div>
    </div>
</nav>
<!-- content -->
<div class="container px-lg-5">
    <!-- condition -->
    <div class="card bg-light shadow-sm my-4 mb-5">
        <div class="card-body mx-3">
            <form id="form" th:action="@{/calculate}" method="post" th:object="${calculateForm}">
                <!-- 集計期間 -->
                <div class="d-flex mb-3">
                    <hr class="my-auto flex-grow-1">
                    <div class="px-4 font-weight-bold">集計期間</div>
                    <hr class="my-auto flex-grow-1">
                </div>
                <div class="row mb-3">
                    <label for="from" class="col-sm-2 col-form-label">From</label>
                    <div class="col-sm-10">
                        <input type="date" id="from" class="form-control" th:field="*{from}" placeholder="2020-03-20"
                               th:classappend="${#fields.hasErrors('from')} or ${#fields.hasErrors('validDate')} ? is-invalid"
                               required/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('from')}"
                             th:errors="*{from}"></div>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('validDate')}"
                             th:errors="*{validDate}"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="to" class="col-sm-2 col-form-label">To</label>
                    <div class="col-sm-10">
                        <input type="date" id="to" class="form-control" th:field="*{to}" placeholder="2020-09-23"
                               th:classappend="${#fields.hasErrors('to')} ? is-invalid" required/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('to')}"
                             th:errors="*{to}"></div>
                    </div>
                </div>

                <!-- 集計キーワード -->
                <div class="d-flex mt-4 mb-3">
                    <hr class="my-auto flex-grow-1">
                    <div class="px-4 font-weight-bold">集計キーワード</div>
                    <hr class="my-auto flex-grow-1">
                </div>
                <div class="row mb-3">
                    <label for="keyword1" class="col-sm-2 col-form-label">キーワード1</label>
                    <div class="col-sm-10">
                        <input type="text" id="keyword1" class="form-control" th:field="*{keyword[0]}" placeholder="恵"
                               th:classappend="${#fields.hasErrors('keyword1NotEmpty')} ? is-invalid" required/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('keyword1NotEmpty')}"
                             th:errors="*{keyword1NotEmpty}"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="keyword2" class="col-sm-2 col-form-label">キーワード2</label>
                    <div class="col-sm-10">
                        <input type="text" id="keyword2" class="form-control" th:field="*{keyword[1]}" placeholder="英梨々"
                               th:classappend="${#fields.hasErrors('keyword2NotEmpty')} ? is-invalid" required/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('keyword2NotEmpty')}"
                             th:errors="*{keyword2NotEmpty}"></div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-primary w-100 font-weight-bold" value="集計"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- result -->
    <div th:if="${result}">
        <h4 class="mb-4 font-weight-bold text-center">集計結果</h4>
        <table class="table table-hover mb-5">
            <thead class="table-info">
            <tr>
                <th scope="col" colspan="2"></th>
                <th class="text-center" scope="col" colspan="2">金額</th>
                <th class="text-center" scope="col" colspan="2">差分金額</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="resultByKeyword : ${result.resultsByKeyword}">
                <th class="text-right" scope="row" th:text="${resultByKeyword.keyword} + ' の合計'"></th>
                <th scope="row">：</th>
                <td class="text-right" th:text="${#numbers.formatInteger(resultByKeyword.sum, 3, 'COMMA')}"></td>
                <td>円</td>
                <td class="text-right" th:text="${#numbers.formatInteger(resultByKeyword.difference, 3, 'COMMA')}"></td>
                <td>円</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="text-right" scope="row">総合計</th>
                <th scope="row">：</th>
                <td class="text-right" th:text="${#numbers.formatInteger(result.total, 3, 'COMMA')}"></td>
                <td>円</td>
                <td colspan="2"></td>
            </tr>
            </tfoot>
        </table>

        <!-- wrong list -->
        <div th:if="${result.wrongList.size() != 0}">
            <h4 class="mb-4 font-weight-bold text-center">不一致リスト</h4>
            <!-- fill out comment -->
            <div class="mb-2">
                <span style="font-size: small">空のコメントを</span>
                <form id="fill" th:action="@{/fill-empty-comments}" method="post" class="d-inline-block"
                      th:each="keyword : ${calculateForm.keyword}">
                    <input type="text" name="comment" th:value="${keyword}" hidden />
                    <input type="text" name="from" th:value="${calculateForm.from}" hidden />
                    <input type="text" name="to" th:value="${calculateForm.to}" hidden />
                    <input type="submit" class="btn btn-sm btn-outline-primary" th:value="${keyword + ' で埋める'}"
                           th:attr="onclick=|return confirm('${keyword} で更新しますか？')|" />
                </form>
            </div>
            <table class="table table-hover mb-5">
                <thead class="table-warning">
                <tr>
                    <th scope="col">日付</th>
                    <th scope="col">場所</th>
                    <th class="text-center" scope="col" colspan="2">金額</th>
                    <th scope="col">コメント</th>
                    <th scope="col">登録日</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="wrongList : ${result.wrongList}">
                    <td th:text="${wrongList.date}"></td>
                    <td th:text="${wrongList.place}"></td>
                    <td class="text-right" th:text="${#numbers.formatInteger(wrongList.amount, 3, 'COMMA')}"></td>
                    <td>円</td>
                    <td th:text="${wrongList.comment}"></td>
                    <td th:text="${wrongList.created}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- send slack -->
        <div class="row mb-5" th:if="${result.wrongList.size() == 0}">
            <div class="col-sm-12">
                <button type="button" id="sendSlack" th:data-for-slack="${result.forSlack}"
                        class="btn btn-outline-primary w-100 font-weight-bold" onclick="sendSlack();">
                    結果をSlackへ送信
                </button>
            </div>
        </div>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const conditionKeys = ['from', 'to', 'keyword1', 'keyword2'];
    const CONDITION_PREFIX = 'condition_';
    const form = document.getElementById('form');

    function preset() {
        conditionKeys.forEach(key => {
            const item = localStorage.getItem(CONDITION_PREFIX + key);
            if (item != null) {
                $('#' + key).val(item);
            }
        })
    }

    form.addEventListener('submit', saveCondition);
    function saveCondition() {
        conditionKeys.forEach(key => {
            localStorage.setItem(CONDITION_PREFIX + key, $('#' + key).val());
        });
    }

    function sendSlack() {
        const data = {
            text: $('#sendSlack').data('for-slack')
        };
        $.ajax({
            method: 'POST',
            contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
            url: /*[(${"'" + @environment.getProperty('saifu.slack.url') + "'" })]*/ 'http://example.com',
            data: JSON.stringify(data)
        })
            .then(
                data => {
                    $('#sendSlack').removeClass('btn-outline-primary');
                    $('#sendSlack').removeClass('btn-danger');
                    $('#sendSlack').addClass('btn-success');
                },
                error => {
                    console.error(error);
                    $('#sendSlack').removeClass('btn-outline-primary');
                    $('#sendSlack').removeClass('btn-success');
                    $('#sendSlack').addClass('btn-danger');
                }
            );
    }
    /*]]>*/
</script>
</body>
</html>
